:root {
  font-size: 16px;
  font-family: sans-serif;
  --white: #fff;
  --lighter: #f0f0f0;
  --lighter-1: #dedede;
  --dark: #333;
  --darker: #111;
  --primary: #ff003b;
  --primary-darker: #d60032;
  --secondary: #fbec00;
  --success: #00a676;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--darker);
}

h1 {
  color: var(--dark);
}

nav {
  background: var(--secondary);
  padding: 0.75em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 1em 0;
}

.btn {
  width: fit-content;
  font-family: Raleway, sans-serif;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

.btn-source {
  font-weight: 600;
  background: var(--white);
  color: var(--dark);
  border: 2px solid var(--dark);
  position: relative;
  text-align: center;
  transition: all 0.35s;
}

.btn-source span {
  position: relative;
  z-index: 2;
}

.btn-source:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--primary);
  transition: all 0.35s;
}

.btn-source:hover {
  color: var(--white);
}

.btn-source:hover:after {
  width: 100%;
}

.btn-submit {
  border: 2px solid var(--dark);
  color: var(--white);
  margin-top: auto;
  align-self: flex-end;
  background: var(--primary);
}

.btn-submit:hover {
  background: var(--primary-darker);
}

.btn-submit:focus {
  background: var(--primary-darker);
}

.btn-card-action {
  background: var(--white);
  border: 2px solid var(--dark);
  font-size: 0.75rem;
}

.btn-card-action:hover {
  background: var(--lighter);
}

.btn-outline {
  border: 2px solid var(--primary);
  color: var(--dark);
  margin-top: auto;
  align-self: flex-end;
  background: var(--white);
}

.btn-outline:hover {
  background: var(--primary);
  color: var(--white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .container {
  width: 100%;
  flex-grow: 1;
  height: fit-content;
}

.card {
  border-radius: 0.5rem;
  padding: 1em;
  margin: 1em;
}

.card-success {
  background: var(--success);
  border: 2px solid var(--white);
  color: var(--white);
}

.card-content {
  background: var(--white);
  border: 2px solid var(--primary);
}

.title {
  margin-bottom: 0.5em;
}

a {
  color: var(--primary);
  border-bottom: 0.5px solid var(--primary);
  transition: all 0.1s;
  font-weight: 600;
}

a:hover {
  border-bottom: 2px solid var(--primary);
}

hr {
  margin: 1em 0;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.25em;
  font-size: 1rem;
}

input[type="text"],
input[type="number"] {
  background: var(--white);
  border: 2px solid var(--lighter-1);
  border-radius: 0.3rem;
  padding: 0.5em;
  box-sizing: border-box;
  margin-bottom: 8px;
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border: 2px solid var(--primary);
}

input[type="text"],
input[type="number"],
.btn-submit:focus {
  outline: none;
}

.card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em;
  background: var(--primary);
  color: var(--white);
  border: 2px solid var(--dark);
  border-radius: 0.3rem;
  margin-top: 1em;
}

.mr-2 {
  margin-right: 0.5em;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.w-100 {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .card {
    margin: 0 0 1em 0;
  }

  .wrapper .container {
    padding: 1em;
    flex-grow: 1;
    height: fit-content;
  }
}

@media only screen and (min-width: 960px) {
  .wrapper .container {
    width: 1024px;
  }
}
